body {
  margin: 0;
  padding: 0;
  color: #201b2d;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

div, p, input, button, form {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  margin: 0;
}

.main-banner {
  padding: 50px 20px;
  position: relative;
  background-color: #3b82f6;
  color: #fff;
  text-align: center;
}

.box {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.text-box {
  max-width: 50%;
  text-align: left;
}

.image-box img {
  height: auto;
  max-width: 100%;
}

.logo {
  width: 100px;
  margin-bottom: 100px;
}

.image-box {
  margin-left: 50px;
}

.button1 {
  padding: 10px 20px;
  background-color: #ffbf00;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.5s ease-in-out;
}

.service-list {
  padding: 50px 20px;
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeBoxColor1 2s ease-in-out forwards;
}

.feature-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.feature-item {
  width: 25%;
  padding: 20px;
  margin-bottom: 10px;
}

.feature-item img {
  margin-bottom: 15px;
}

.feature-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  color: #555;
}

.box2 {
  border: 2px solid #ccc;
  border-radius: 10px; 
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9;
}

.follow-form {
  display: flex;
  padding: 40px 20px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.follow-form .box1 {
  width: 400px;
  text-align: center;
}

.follow-form input,
.follow-form select {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e7ff;
  height: 500px;
}

.box2 {
  text-align: center;
  width: 400px;
}

.box2 h2 {
  margin-bottom: 40px;
}

.box3 input {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.box3 {
  text-align: center;
  width: 400px;
}

.box3 h2 {
  margin-bottom: 40px;
}

.box3 input {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.button2 {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #ffbf00;
  color: #000;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.site-footer {
  padding: 20px;
  text-align: center;
  color: white;
  background: #3b82f6;
}
